/*link de acceso*/
/*https://gitcdn.link/cdn/jcardenashh/r_publico/main/css/css_rmarkdown.css*/
body {
    font-size: 1.6rem;
    font-weight: 400;
    font-family: Geekflare,sans-serif;
    line-height: 1.6;
    background-color: rgb(247,247,247);
    margin: 0 auto;
    padding: 0;

}

div.main-container {
    max-width: 95% !important;
}

p{
	color: rgb(34,50,114);
	text-align:justify;
	background-color: rgb(244,244,244);
	font-size: 18px;	
  font-family: Geekflare,sans-serif;
  line-height: 150%;
}

/*negritas*/
strong{
	color: #2F5496;
}


h1{
	color: tomato;
	font-weight: bold;
}

h2{
	color: rgb(22,144,120);
	font-weight: bold;
	font-size: 36px;
}

h3{
	color: rgb(22,144,120);
	font-weight: bold;
	font-size: 24px;
}
hr {
  /* linea horizontal */
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 2px solid rgb(22,54,92) ;
}


.btn{
	background-color: #ff4e00;
	color:#fff;
	font-size: 14px;
	padding: 5px;

}

/*ventana codigo R*/
.sourceCode.r{
	color: rgb(34,50,114);
	font-weight: bold;
	background-color: #D6E0F2;
	border: 2px solid #2F5496;
	margin: 20px 0px;

}



/*ventana codigo general*/
pre{
	color: rgb(34,50,114);
	font-weight: bold;
	background-color: #D6E0F2;
	border: 0.5px solid #2F5496;
	font-size: 14px;
	border-left: 4px solid  #2F5496;
	margin: 20px 0px;
}

/* formato de los tab*/
.tab-content {
	border: 0.5px solid #2F5496;
	padding-left: 5px;

}

.tab-content p{
	background-color: white;
}

/*formato card*/
.card-2 {
	padding: 20px;
	background: #fff;
	border-radius: 6px;
	box-shadow: 2px 2px 12px rgba(49, 62, 87, 0.25);
	min-height: 272px; 
	margin-top: 20px;
}


/*Ventana del menu*/

.tocify {
  width: 20%;
  max-width: 95% !important;
  max-height: 95% !important;
  overflow: auto;
  margin-left: 2%;
  position: fixed;
  border: 1px solid #16365C;
  border-radius: 8px;
  border-left: 4px solid #16365C;
    
}

.tocify-header {
  /*titulo nivel 1*/
    font-weight: bold;
    background-color: rgb(230,230,230);
    color:rgb(22,54,92) !important;
}


.tocify-subheader {
  /*titulo nivel2*/
  font-weight: normal;
  color:#16365C !important;
  
}
.list-group-item:hover{
  color:#ff4e00;
  font-weight: bold;
}
.list-group-item.active{
/* item seleccionado */
  background-color: rgb(22,54,92) !important;
  
}

/*ventana del contenido*/
.toc-content {
    padding-left: 10px;
    padding-right: 20px;
}



/* colores de la sintaxis */

.hljs {
  color: #236974;
  font-size: 16px;
}
.hljs-string {
  color: #44aa43;
  font-style: bold;
}

.hljs-number {
  color: #44aa43 !important;
  font-style: bold;
}

.hljs-title {
  color: #478A95 !important;
}

.hljs-built_in {
  color: #034d58 !important;
}

.hljs-keyword {
  color: #ff9358 !important;
}

.hljs-function > .hljs-keyword {
  color: #ff9358 !important;
  font-style: italic;
}

.hljs-params {
  color: rgba(224, 51, 51, 0.678);
}

.hljs-comment {
  
  color: rgb(34,50,114);
  font-size: 16px;
  font-style: bold
}

